In [1]:
import sklearn
from sklearn.datasets import load_boston
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

c:\users\taraka pavan sriram\appdata\local\programs\python\python37\lib\site-packages\sklearn\feature_extraction\image.py:167: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int):

In [2]:
df = pd.read_csv('D:\San Jose State University\FA21 DATA 228 Sec 11 Big Data Tech and App\Project\DATA228_Projectfiles\job_family_role.csv', encoding='latin-1')
df

,post_date,job_family,role,count_id_indexed
0,2020-03-01,NaN,EXCUDE,1.0000
1,2020-03-01,Customer Service,Call Center Manager,1.0000
2,2020-03-01,Customer Service,Customer Service Manager,1.0000
3,2020-03-01,Customer Service,Customer Service Representative,1.0000
4,2020-03-01,Customer Service,Customer Support Representative,1.0000
...,...,...,...,...
308884,2020-11-23,Entertainment and Recreation,Audio Specialist,0.2188
308885,2020-11-23,Entertainment and Recreation,Camera Operator,0.2719
308886,2020-11-23,Entertainment and Recreation,Camp Director,0.1806
308887,2020-11-23,Entertainment and Recreation,Camp Staff,0.2176
308888,2020-11-23,Entertainment and,NaN,NaN

In [3]:
df.dropna(subset = ["post_date"], inplace=True)
df.dropna(subset = ["job_family"], inplace=True)
df.dropna(subset = ["role"], inplace=True)
df.dropna(subset = ["count_id_indexed"], inplace=True)

In [4]:
df.rename(columns={"post_date":"PostDate"}, inplace=True)
df.rename(columns={"state":"State"}, inplace=True)
df.rename(columns={"count_id_indexed":"CountIDIndexed"}, inplace=True)

In [7]:
print(df.head())

     PostDate        job_family                             role  \
1  2020-03-01  Customer Service              Call Center Manager
2  2020-03-01  Customer Service         Customer Service Manager
3  2020-03-01  Customer Service  Customer Service Representative
4  2020-03-01  Customer Service  Customer Support Representative
5  2020-03-01  Customer Service             Relationship Manager

  CountIDIndexed
1         1.0000
2         1.0000
3         1.0000
4         1.0000
5         1.0000